---
import Base from "@/layouts/Base.astro";
import HorizontalCard from "@/components/HorizontalCard.astro";
---

<Base title="Sígueme" meta_title="Sígueme" description="Conoce mis redes sociales y sígueme en diferentes plataformas">
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-8">
          <div class="text-3xl w-full font-bold mb-5">Sígueme en:</div>

          <HorizontalCard
            title="Github"
            img="/images/github-EloyChavezDev.jpg"
            desc="Aquí podrás encontrar una colección de mis proyectos de software, código fuente, documentación y perfil profesional."
            url="https://github.com/EloyChavezDev"
            badge="22 Followers"
          />
          <HorizontalCard
            title="Twitch"
            img="/images/EloyChavezDev_Twitch.png"
            desc="Mi canal es un espacio donde la creatividad y la interacción se unen para brindar experiencias únicas. Únete a mí mientras exploramos juntos juegos fascinantes, compartimos consejos tecnológicos y creamos una comunidad vibrante."
            url="https://www.twitch.tv/eloychavezdev"
            badge="282 Followers"
          />
          <div class="divider my-0"></div>
          <HorizontalCard
            title="Youtube"
            img="/images/EloyChavezDev_Youtube.png"
            desc="Aquí encontrarás una fusión única entre mi pasión tecnológica y mi creatividad inagotable. Desde análisis de las últimas tendencias tecnológicas hasta emocionantes aventuras de videojuegos, mi canal ofrece una experiencia enriquecedora para mentes curiosas y amantes de la innovación."
            url="https://www.youtube.com/@eloychavezdev"
            badge="178 Subscribers"
          />
          <div class="divider my-0"></div>
          <HorizontalCard
            title="X"
            img="/images/EloyChavezDev_X.jpeg"
            desc="Aquí encontrarás pensamientos intrigantes sobre tecnología, actualizaciones sobre mis proyectos."
            url="https://twitter.com/EloyChavezDev"
            badge="328 Followers"
          />
          <div class="divider my-0"></div>
          <HorizontalCard
            title="Threads"
            img="/images/Threads.jpeg"
            desc="Aquí encontrarás un poco más sobre mi día a día en el mundo de la programación."
            url="https://www.threads.net/@eloychavezdev"
            badge="18 Followers"
          />
          <div class="divider my-0"></div>
          <HorizontalCard
            title="LinkedIn"
            img="/images/EloyChavezDev_LinkedIn.jpg"
            desc="Mi enfoque se centra en convertir desafíos en oportunidades, utilizando la tecnología como herramienta para generar un impacto significativo en proyectos diversos. Desde la creación de soluciones digitales hasta la exploración de las últimas tendencias tecnológicas, mi objetivo es compartir conocimientos y experiencias que inspiren y transformen."
            url="https://www.linkedin.com/in/eloychavezdev/"
            badge="201 Followers"
          />
          <div class="divider my-0"></div>
          <HorizontalCard
            title="Tiktok"
            img="/images/EloyChavezDev_Tiktok.jpeg"
            desc="Como apasionado tecnólogo y creador digital, combino lo mejor de ambos mundos para ofrecerte videos sorprendentes y entretenidos. Desde trucos tecnológicos hasta ideas creativas, encontrarás contenido fresco y original en cada publicación. ¡Sígueme para una dosis diaria de innovación y diversión!"
            url="https://www.tiktok.com/@eloychavezdev"
            badge="1532 Followers"
          />
          <div class="divider my-0"></div>
          <HorizontalCard
            title="Instagram"
            img="/images/EloyChavezDev_Instagram.jpeg"
            desc="¡Explora mi vida a través de imágenes! Desde proyectos tecnológicos hasta momentos de inspiración, comparto una perspectiva única en cada publicación."
            url="https://www.instagram.com/eloychavezdev/"
            badge="59 Followers"
          />
        </div>
      </div>
    </div>
  </section>
</Base>